<h3>Customers with <span class="rouge">NO account</span> </h3>
<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>CustomerID</th>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>{{customer.name}}</td>
    <td>{{customer.surname}}</td>
    <td>{{customer.customerId}}</td>
  </tr>
</table>
<hr>
<h3>Create a new current account for your customers:</h3>
<form [formGroup]="form" (ngSubmit)="createCurrentAccount()">
  <div class="form-group">
    <label for="customerId">Customer</label>
    <select id="customerId" name="customerId" formControlName="customerId">
      <option *ngFor="let customer of customers" value="{{customer.customerId}}">{{customer.customerId}} : {{customer.name}}
        {{customer.surname}}</option>
    </select>
  </div>
<div class="form-group">
  <label for="customerId">Initial Credit</label>
  <input name="initialCredit" id="initialCredit" type="number" min="0" step="10"  formControlName="initialCredit">
</div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Create for the customer</button>
  </div>
</form>
<hr>
<h3>Customers with account</h3>
<p>You can see details about each customer</p>
<table>
  <tr *ngFor="let customer of customerWithAccount">
    <div  *ngIf="customer.account != null">
    <td>{{customer.name}}</td>
    <td>{{customer.surname}}</td>
    <td>{{customer.customerId}}</td>
    <td><button (click)="showCustomerDetails(customer.id)">More detail...</button></td>
    </div>
  </tr>
</table>
<div class="details">
  <span *ngIf="customerToShowDetail.name != ''">
    <h6><span class="bleu">Customer:</span> {{customerToShowDetail.name}} {{customerToShowDetail.surname}}</h6>
  <div class="balance"><span class="bleu">Balance:</span> {{customerToShowDetail.balance}}</div>
  <div class="transaction">
    <h6><span class="bleu">Transactions:</span></h6>
    <table border="1">
      <tr>
        <th>transaction Type</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let transaction of customerToShowDetail.transactions">
        <td>{{transaction.transactionType}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.transactionTime | date:'medium'}}</td>
      </tr>
    </table>

  </div>
    </span>
</div>
